color 
:root{
	--body: #eaeef0;#282828;
	--circle-background:#42abff , #ff4fe8,#ffeb3b 
}
/*
animation: animate 2s linear infinite;
}

@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
*/



/*circle shadow*/



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
#home{
	width: 100%;
	height: 100vh;
	background-color: red;
	
}
.header-top{
	width: 100%;
	height: 250px;
	background-color: #eaeef0;
}
.loader{
	position: relative;
	display: flex;
	padding: 10px 0 0 10px;
	
	
	
}
.loader span{
	position: relative;
	width: 230px;
	height: 230px;
	background: #eaeef0;
	border: 6px solid #eaeef0; 
	border-radius: 50%;
	box-shadow: -8px -8px 15px rgba(255,255,255,1),
	8px 8px  25px rgba(0,0,0,0.15);
	overflow: hidden;
	
}
.loader span::before{
	content: '';
	position: absolute;
	inset:0;
	border-radius: 50%;
	box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5) , inset -5px -5px 15px rgba(255,255,255,1);
}
.loader span::after{
	content: '';
	position: absolute;
	inset:40px;
	background: #eaeef0;
	border: 3px solid #eaeef0; 
	border-radius: 50%;
	box-shadow: -8px -8px 25px rgba(255,255,255,1), 8px 8px 25px rgba(0,0,0,0.25),inset 3px 3px 10px rgba(0,0,0,0.15),inset -1px -1px 15px rgba(255,255,255,1)
}

.loader span i{
	position: absolute;
	inset:0;
	filter: blur(5px);
	border-radius: 50%;
	background: linear-gradient(#42abff , #ff4fe8,#ffeb3b );
	animation: animate 2s linear infinite;
}

@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/*icon*/

.food-icon{
	position: absolute;
	inset:50px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
/*	overflow:hidden;*/
	color: #ff518c;
	font-size: 4em;
	width: 150px;
	height: 150px;	
}



/*-------html codes-------*/


	<div class="logo">
				<div class="loader">
				<div class="food-icon">
					<ion-icon name="fast-food-outline"></ion-icon>
				</div>
					<span><i>
						
					</i></span>
				</div>
			</div>












